<main>
    <h2>Current Schedules</h2>   

    <% if(schedules.length < 1) { %>   <!--Get schedules data from homeRouter.js page-->
        <p>No schedules found</p>
       <% } else { %>    
             <table class="styled-table">
                <tr>
                    <th>ID</th>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>Day</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                  </tr>    
                
                <% schedules.forEach((sch) => { %>
                    <tr>
                        <td><%= sch.id %></td>
                        <td><%= sch.user_id %></td>
                        <td><a href="/users/<%= sch.user_id %>"><%= sch.firstname %> <%= sch.lastname %></a></td>
                        <td><%= sch.day %></td>
                        <td><%= sch.start_at %></td>
                        <td><%= sch.end_at %></td>
                      </tr>
                <% }) %>
             </table>

        <%  }  %> 
  </main>         